<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return instructions</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFA45C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }


        .navbar-brand {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
            margin-top: 22px;
            margin-left: 20px;
        }

            .navbar-brand:hover, .navbar-brand:focus {
                text-decoration: none;
            }

        .ftco-navbar-light .navbar-brand {
            color: #000000;
        }

        .navbar-brand {
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a class="navbar-brand">Jewellery</a>
        <div class="header">
            <h1>Return instructions</h1>
        </div>
        <p>Dear Valued Customer,</p>
        <p>We are pleased to inform you that your return request has been approved and processed.</p>
        <p>Your satisfaction is our priority, and we strive to make your shopping experience as seamless as possible.</p>
        <p>If you have any questions or need further assistance, please do not hesitate to contact us. We are here to help.</p>
        <p>Thank you for choosing us, and we look forward to serving you again in the future!</p>
        <p>Additionally, please follow the instructions below to complete your return:</p>
        <p>1. Pack the item securely to prevent damage during transit.</p>
        <p>2. Attach the return label provided with your original shipment.</p>
        <p>3. Ship the package using a reliable carrier of your choice.</p>
        <p>4. Once we receive the returned item, we will process your refund or exchange promptly.</p>

    </div>
</body>
</html>