<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Cancellation Confirmation</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .header {
            text-align: center;
            margin-bottom: 20px;
        }

        h1 {
            color: #333;
            margin-bottom: 10px;
        }

        p {
            color: #666;
            margin-bottom: 20px;
            line-height: 1.6;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #FFA45C;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
       
   
        .navbar-brand {
            display: inline-block;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            line-height: inherit;
            white-space: nowrap;
            margin-top: 22px;
            margin-left: 20px;
        }

            .navbar-brand:hover, .navbar-brand:focus {
                text-decoration: none;
            }

        .ftco-navbar-light .navbar-brand {
            color: #000000;
        }

        .navbar-brand {
            font-weight: 800;
            font-size: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    </style>
</head>
<body>
    <div class="container">
        <a class="navbar-brand">Jewellery</a>
        <div class="header">
            <h1>Order Cancellation Confirmation</h1>
        </div>
        <p>Dear Valued Customer,</p>
        <p>We understand that circumstances change and sometimes orders need to be cancelled. We want you to know that we're here for you every step of the way.</p>
        <p>Your satisfaction is our top priority, and while we're disappointed that this order didn't work out, we're committed to helping you find something you'll love.</p>
        <p>Our store is filled with amazing products waiting for you. Take a look around and discover new treasures to brighten your day!</p>
        <p>If you have any questions or need assistance, don't hesitate to reach out to us. We're always here to help.</p>
        <p>Thank you for considering us, and we hope to see you again soon!</p>
        <p style="text-align: center;"><a style="color:white;" class="btn">Explore Our Store</a></p>
  
    </div>
</body>
</html>
