@{
    Layout = "~/Views/Shared/User_Layout.cshtml";
    ViewData["Title"] = "Checkout";
}
<div class="hero-wrap hero-bread" style="background-image: url('/images/anhbg1.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Checkout</span></p>
                <h1 class="mb-0 bread">Checkout</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section" style="margin-left:300px;">
    <div class="container">
        <div class="row justify-content-center">
            <form id="checkoutForm" asp-controller="CheckOut" asp-action="Checkout" method="post" enctype="multipart/form-data" class="billing-form">

                <div class="col-xl-8 ftco-animate">
                    <h3 class="mb-4 billing-heading">Billing Details</h3>
                    <div class="row align-items-end">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Fullname">Full Name</label>
                                <input type="text" name="FullName" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" name="Email" class="form-control" required>
                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="streetaddress">Street Address</label>
                                <input class="form-control" placeholder="House number and street name" type="text" name="AddressDetail" required>
                            </div>
                        </div>

                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="province">Province</label>
                                <select name="Province" id='provinces' onchange='getProvinces(event)' class="form-control" required>
                                    <option value=''>-- select provinces --</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="district">District</label>
                                <select name="District" id='districts' onchange='getDistricts(event)' class="form-control" required>
                                    <option value=''>-- select districts --</option>
                                </select>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="ward">Ward</label>
                                <select name="Ward" id='wards' class="form-control" required>
                                    <option value=''>-- select wards --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone</label>
                                <input type="number" name="Telephone" class="form-control" required>
                            </div>
                        </div>


                        <div class="w-100"></div>
                        <div class="col-md-12">
                            <div class="form-group mt-4">
                                <div class="radio">
                                    <h5>Shipping method : </h5>
                                    <label class="mr-3"><input type="radio" name="ShippingMethod" value="J&T Express" onchange="updateShippingFee()"> J&T Express </label>
                                    <label><input type="radio" name="ShippingMethod" value="Ninja Van" onchange="updateShippingFee()"> Ninja Van</label>
                                </div>
                            </div>
                        </div>

                    </div>




                    <div class="row mt-5 pt-3 d-flex">
                        <div class="col-md-6 d-flex">
                            <div class="cart-detail cart-total bg-light p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Cart Total</h3>
                                <p class="d-flex">
                                    <span style="font-weight:800;">Product </span>
                                    <span style="font-weight:800;">Total</span>
                                </p>
                                @if (ViewBag.CartItems != null && ViewBag.CartItems.Count > 0)
                                {
                                    @foreach (var item in ViewBag.CartItems)
                                    {
                                        <p class="d-flex">
                                            <span>@item.ProductName</span>
                                            <span>$@item.Total</span>

                                        </p>

                                    }
                                }
                                else
                                {
                                    <p>No items in the cart</p>
                                }
                                <hr>
                                <p class="d-flex">
                                    <span data-subtotal="@ViewBag.Total">Subtotal</span>
                                    <span>$@ViewBag.Total</span>
                                </p>
                                <p class="d-flex">
                                    <span>Tax(10%)</span>
                                    <span data-tax>$0.00</span>
                                </p>
                                <p class="d-flex">
                                    <span>Shipping Fee</span>
                                    <span id="shippingFee">$0.00</span>
                                </p>

                                <hr>
                                <p class="d-flex total-price">
                                    <span>Total</span>
                                    <span id="displayTotalAmount" data-total>$0.00</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="cart-detail bg-light p-3 p-md-4">
                                <h3 class="billing-heading mb-4">Payment Method</h3>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="PaymentMethod" value="PBB" class="mr-2" checked onchange="togglePaypalButton()">Pay by balance</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="error-message" class="alert alert-danger" style="display: none;"></div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="PaymentMethod" value="COD" class="mr-2" checked onchange="togglePaypalButton()"> COD</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="radio">
                                            <label><input type="radio" name="PaymentMethod" value="PayPal" class="mr-2" onchange="togglePaypalButton()"> Paypal</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label><input type="checkbox" value="" class="mr-2"> I have read and accept the terms and conditions</label>
                                        </div>
                                    </div>
                                </div>

                                <div id="paypal-button-container" style="display: none;"></div>
                                <button type="submit" class="btn btn-primary py-3 px-4">Place an order</button>
                                <script src="https://www.paypal.com/sdk/js?client-id=@ViewBag.PaypalClientdId"></script>
                                <script>function togglePaypalButton() {
                                        var paymentMethod = document.querySelector('input[name="PaymentMethod"]:checked');
                                        var paypalButtonContainer = document.getElementById('paypal-button-container');

                                        if (paymentMethod && paymentMethod.value === 'PayPal') {
                                            paypalButtonContainer.style.display = 'block';
                                        } else {
                                            paypalButtonContainer.style.display = 'none';
                                        }
                                    }

                                    window.onload = function () {
                                        togglePaypalButton();
                                    };</script>
                            </div>
                        </div>
                    </div>
                </div> <!-- .col-md-8 -->
            </form>
        </div>
    </div>
</section> <!-- .section -->

<script>function updateShippingFee() {
        var shippingFeeElement = document.getElementById("shippingFee");
        var selectedOption = document.querySelector('input[name="ShippingMethod"]:checked').value;

        // Tính toán phí vận chuyển dựa trên phương thức vận chuyển được chọn
        var shippingFee;
        switch (selectedOption) {
            case "J&T Express":
                shippingFee = 10.00;
                break;
            case "Ninja Van":
                shippingFee = 9.00;
                break;
            default:
                shippingFee = 0.00;
                break;
        }

        // Cập nhật giá trị phí vận chuyển trong DOM
        shippingFeeElement.innerText = "$" + shippingFee.toFixed(2);

        // Gọi hàm updateTaxAndTotal() để cập nhật lại tổng số tiền khi có thay đổi về phí vận chuyển
        updateTaxAndTotal(shippingFee);
    }

    function updateTaxAndTotal(shippingFee) {
        var subtotalElement = document.querySelector('span[data-subtotal]').getAttribute('data-subtotal');
        var subtotal = parseFloat(subtotalElement);

        // Tính toán tổng số tiền sau thuế và phí vận chuyển
        var taxRate = 0.10; // 10% thuế
        var tax = subtotal * taxRate;

        // Cập nhật giá trị thuế trong DOM
        document.querySelector('span[data-tax]').innerText = "$" + tax.toFixed(2);

        // Tính toán tổng số tiền bao gồm cả phí vận chuyển
        var total = subtotal + tax + shippingFee;

        // Cập nhật giá trị tổng số tiền trong DOM
        document.querySelector('span[data-total]').innerText = "$" + total.toFixed(2);
    }

    // Gọi hàm này khi trang được tải
    window.onload = function () {
        // Khởi đầu, tổng số tiền sẽ được tính toán với phí vận chuyển mặc định là 0
        updateTaxAndTotal(0);
    };</script>


<script src="https://www.paypal.com/sdk/js?client-id=AY82FkJTFSnyyYVrXSxhBydwu9_JGpfabFOHrSKfeDFVaMAHsGCWLwLbB6fiHFbmKDx6gSPoc2_StcYd"></script>
<script>paypal.Buttons({
        createOrder: function (data, actions) {
            // Hàm này sẽ được gọi khi người dùng nhấn vào nút PayPal
            // Đặt logic tạo đơn đặt hàng PayPal ở đây

            // Lấy giá trị tổng tiền từ span có id là "displayTotalAmount"
            var totalAmount = document.getElementById("displayTotalAmount").innerText.replace("$", "");

            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: totalAmount // Sử dụng giá trị tổng tiền của đơn hàng
                    }
                }]
            });
        },
        onApprove: function (data, actions) {
            // Hàm này sẽ được gọi khi người dùng hoàn tất thanh toán trên trang PayPal
            // Đặt logic xử lý đơn đặt hàng đã được xác nhận ở đây
            return actions.order.capture().then(function (details) {
                // Thực hiện xử lý khi đơn hàng được xác nhận thành công
                alert('Transaction completed by ' + details.payer.name.given_name);
                // Lấy orderId từ đối tượng data
                var orderId = data.orderID;
                // Submit form để xử lý thanh toán
                document.getElementById("checkoutForm").submit();
            });

        },
        onError: function (err) {
            // Hàm này sẽ được gọi khi có lỗi xảy ra trong quá trình thanh toán PayPal
            // Đặt logic xử lý lỗi ở đây
            alert('Có lỗi xảy ra trong quá trình thanh toán PayPal: ' + err);
        }
    }).render('#paypal-button-container');</script>
<script>fetch('/Api/provinces.json')
        .then(response => response.json())
        .then(result => {
            let provinces = result.data.data;
            provinces.forEach(province => {
                var option = document.createElement("option");
                option.text = province.name_with_type;
                option.value = province.name_with_type; // Sử dụng name_with_type thay vì code
                document.getElementById("provinces").appendChild(option);
            });
        })
        .catch(error => {
            console.error('Lỗi khi fetch dữ liệu tỉnh từ file JSON:', error);
        });

    fetch('/Api/districts.json')
        .then(response => response.json())
        .then(result => {
            let districts = result.data.data;
            districts.forEach(district => {
                var option = document.createElement("option");
                option.text = district.name_with_type;
                option.value = district.name_with_type; // Sử dụng name_with_type thay vì code
                document.getElementById("districts").appendChild(option);
            });
        })
        .catch(error => {
            console.error('Lỗi khi fetch dữ liệu quận/huyện từ file JSON:', error);
        });

    fetch('/Api/wards.json')
        .then(response => response.json())
        .then(result => {
            let wards = result.data.data;
            wards.forEach(ward => {
                var option = document.createElement("option");
                option.text = ward.name_with_type;
                option.value = ward.name_with_type; // Sử dụng name_with_type thay vì code
                document.getElementById("wards").appendChild(option);
            });
        })
        .catch(error => {
            console.error('Lỗi khi fetch dữ liệu phường/xã từ file JSON:', error);
        });</script>



