@{
    ViewData["Title"] = "Customer";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<section class="section main-section">

    <div class="container">
        <div class="row order_d_inner">
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Order Info</h3>
                    <ul class="list">
                        <li><a href="#"><span>Order id</span>: 123456</a></li>
                        <li><a href="#"><span>Date</span>: 2024-03-20</a></li>
                        <li><a href="#"><span>Total</span>: $100.00</a></li>
                        <li><a href="#"><span>Payment Method</span>: Credit Card</a></li>
                        <li><a href="#"><span>IsPaid</span>: Yes</a></li>
                        <li><a href="#"><span>Status</span>: Delivered</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Customer Information</h3>
                    <ul class="list">
                        <li><a href="#"><span>Full Name</span>: John Doe</a></li>
                        <li><a href="#"><span>Telephone</span>: 123-456-7890</a></li>
                        <li><a href="#"><span>Email</span>: johndoe@example.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="details_item">
                    <h3>Shipping</h3>
                    <ul class="list">
                        <li><a href="#"><span>Shipping method</span>: Express Shipping</a></li>
                        <li><a href="#"><span>Address</span>: 123 Main St, City, Country</a></li>
                    </ul>
                </div>
            </div>
            <div class="order_details_table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:100px;" scope="col">ID</th>
                                <th style="width:200px;" scope="col">Thumbnail</th>
                                <th style="width:300px;" scope="col">Name</th>
                                <th style="width:200px;" scope="col">Price</th>
                                <th style="width:200px;" scope="col">Quantity</th>
                                <th style="width:200px;" scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><img src="thumbnail_url" width="120" /></td>
                                <td>Product Name 1</td>
                                <td>$50.00</td>
                                <td>2</td>
                                <td>$100.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><img src="thumbnail_url" width="120" /></td>
                                <td>Product Name 2</td>
                                <td>$25.00</td>
                                <td>1</td>
                                <td>$25.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: 15px;
        margin-left: 15px;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
</style>